services:
  mongo:
    image: mongo:7.0   # Última versión estable
    container_name: mongo_db
    restart: always
    ports:
      - "27018:27017"
    environment:
      # MONGO_INITDB_ROOT_USERNAME: 
      # MONGO_INITDB_ROOT_PASSWORD: 
      MONGO_INITDB_DATABASE: ejemplo
    volumes:
      - mongo_data:/data/db

  
  redis:
    image: redis:7-alpine
    container_name: redis_cache
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  app:
    build: .
    container_name: node_app
    restart: always
    ports:
      - "9090:9090"
      
      # "9091:9091" 
    env_file:
      - .env
    depends_on:
      - mongo
      - redis  

volumes:
  mongo_data:
  redis_data: 